<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .done {
        color: #ccc;
        text-decoration: line-through;
      }
    </style>
    <link rel="stylesheet" th:href="@{/css/todo.css}" />
  </head>
  <body>
    <div class="list-todo">
      <div class="list-todo__title">Todo App</div>
      <div class="list-todo__header">
        <form th:action="@{/add-todo}" method="post">
          <input name="title" />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="list-todo__tasks" th:each="todo : ${listTodos}">
        <span
          th:class="${todo.completed?'done':''}"
          th:text="${todo.title}"
        ></span>
        <span>
          <a
            th:href="@{/complete-todo(id=${todo.id})}"
            th:text="${todo.completed?'Inprogress':'Done'}"
          ></a>
        </span>
        <span><a th:href="@{/delete-todo(id=${todo.id})}">Delete</a></span>
      </div>
    </div>
  </body>
</html>
